<!-- Usando include para separar as partes que n達o ir達o ser modificadas, como o head por exemplo. -->

<%- include('includes/head')%>

<body>
    <section class="container">
        <h1>

            <% if(typeof titulo !== 'undefined') { %>
                <%= titulo %> <!-- escapa os caracteres -->
                <%- titulo %> <!-- n達o escapa os caracteres (executa) -->

            <% } else{ %>
                    O titulo n達o foi enviado
                <%}%> 
                <br>

                <% numeros.forEach(num =>{ %>
                    <%= num %>
                <% }) %>

        </h1>
        <h2><%=csrfToken%></h2>
    <form action="" method="post">
        <!-- Deve-se usar o input hidden para pegar o token csrf -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label>Tecnologia preferida:</label>
        <input type="text" name="tec">
        <button>Enviar</button>
    </form>
    </section>

    <%- include('includes/footer');%>