<%- include('includes/head') %>
<%- include('includes/navbar.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col lg-8 my-3">
            <h1 class="text-center">Crie sua conta / Acesse sua agenda</h1>
            <p class="text-center lead">Faça login ou crie sua conta abaixo:</p>

            <%- include('includes/messages') %>
            <div class="row">
                <div class="col-lg">
                    <h4>Faça seu cadastro</h4>
                    <%- include('includes/Registerform') %>
                </div>

                <div class="col-lg">
                    <h4>
                        Entrar no sistema
                    </h4>
                    <%- include('includes/Loginform') %>
                </div>

            </div>
        </div>
        </div>

            <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>